backend/n8n_workflows/email_code_assistant.json
{
  "name": "Senorita Email Code Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "mailbox": "INBOX",
        "options": {
          "customEmailConfig": "imap.gmail.com",
          "port": 993,
          "secure": true
        }
      },
      "id": "imap-trigger",
      "name": "Email Trigger",
      "type": "n8n-nodes-base.imapEmail",
      "typeVersion": 2,
      "position": [250, 300],
      "credentials": {
        "imap": {
          "id": "YOUR_IMAP_CREDENTIAL_ID",
          "name": "Gmail IMAP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-code-request",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "code",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-code-emails",
      "name": "Filter Code Requests",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/n8n/webhook/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email_id\": \"{{ $json.messageId }}\",\n  \"sender\": \"{{ $json.from }}\",\n  \"subject\": \"{{ $json.subject }}\",\n  \"body\": \"{{ $json.text }}\",\n  \"attachments\": [],\n  \"received_at\": \"{{ $json.date }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-fastapi",
      "name": "Call Senorita API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "Check API Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $('Email Trigger').item.json.from }}",
        "subject": "Re: {{ $('Email Trigger').item.json.subject }}",
        "emailType": "text",
        "message": "=Hi,\n\nHere's the code you requested:\n\n```{{ $json.language }}\n{{ $json.code_snippet }}\n```\n\n{{ $json.explanation }}\n\n---\nGenerated by Senorita AI Coding Assistant",
        "options": {}
      },
      "id": "send-reply",
      "name": "Send Code Reply",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 200],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $('Email Trigger').item.json.from }}",
        "subject": "Re: {{ $('Email Trigger').item.json.subject }} - Error",
        "emailType": "text",
        "message": "=Hi,\n\nSorry, I couldn't process your code request.\n\nError: {{ $json.error }}\n\nPlease try rephrasing your request or contact support.\n\n---\nSenorita AI Coding Assistant",
        "options": {}
      },
      "id": "send-error-reply",
      "name": "Send Error Reply",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 400],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    }
  ],
  "connections": {
    "Email Trigger": {
      "main": [
        [
          {
            "node": "Filter Code Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Code Requests": {
      "main": [
        [
          {
            "node": "Call Senorita API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Senorita API": {
      "main": [
        [
          {
            "node": "Check API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response": {
      "main": [
        [
          {
            "node": "Send Code Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "senorita",
      "createdAt": "2026-02-28T00:00:00.000Z",
      "updatedAt": "2026-02-28T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-28T00:00:00.000Z",
  "versionId": "1"
}
